<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8" >
    <meta name="description" content="الموقع الرسمى لدار التلوانى لتحفيظ القرآن الكريم">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>دار التلوانى لتحفيظ القرآن الكريم ببرهيم</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="{{ url_for('questions') }}" class="floating-ask-btn" title="أسئلة واستفسارات">
        <span class="msg-icon">💬</span>
        <span class="btn-text">أسئلة واستفسارات</span>
    </a>
    <header>
        <img src="{{ url_for('static', filename='images/logo.jpeg') }}" width="200" alt="شعار دار التلوانى">
        <h1> دار التلوانى لتحفيظ القرآن الكريم ببرهيم</h1>
    <hr>
    <nav>
            <a href="{{ url_for('home') }}" > الصفحة الرئيسية</a>
            <a href="{{ url_for('about') }}"> عن الدار</a>
            <a href="{{ url_for('courses') }}">الحلقات و الدورات</a>
            <a href="{{ url_for('register') }}">التسجيل</a>
            <a href="{{ url_for('learn') }}"> فيديوهات تعلم</a>
            <a href="{{ url_for('library') }}"> المكتبة الإسلامية</a>
            <a href="{{ url_for('academy') }}"> أكاديمية التجويد الميسر</a>
            <a href="{{ url_for('login') }}">تسجيل الدخول</a>
        </nav>
         </header>
    <main>
        <section>
        <h2>المكتبة الإسلامية</h2>
        <p>
            تضم هذه المكتبة مجموعة من الكتب والملفات والمواد العلمية التي تساعد طلاب دار التلواني على حفظ القرآن الكريم، وفهم أحكام التجويد، وتثبيت الحفظ، والاستفادة من العلوم الشرعية.
        </p>
        </section>
        <hr>
        <section>
            <h3>📖 قسم المتشابهات</h3>
            <p>
                يحتوي هذا القسم على ملفات تساعد في معرفة الآيات المتشابهة والتمييز بينها، مما يسهل مراجعة القرآن الكريم ويقلل من أخطاء الحفظ.
            </p>
            <ul>
                <li><a href="{{ url_for('static', filename='Files/دليل الحفاظ فى متشابهات الألفاظ.pdf') }}" target="_blank">دليل الحفاظ فى متشابهات الألفاظ</a></li>
                <li><a href="{{ url_for('static', filename='Files/ربط_آيات_ومتشابهات_سورة_آل_عمران_كاملة.pdf') }}" target="_blank">متشابهات سورة آل عمران</a></li>
                <li><a href="{{ url_for('static', filename='Files/متشابهات البقرة و انفراداتها .pdf') }}" target="_blank">متشابهات سورة البقرة</a></li>
                <li><a href="{{ url_for('static', filename='Files/متشابهات سورة النساء.pdf') }}" target="_blank">متشابهات سورة النساء</a></li>
                <li><a href="{{ url_for('static', filename='Files/متشابهات سورة المائدة و انفراداتها.pdf') }}" target="_blank">متشابهات سورة المائدة</a></li>
                <li><a href="{{ url_for('static', filename='Files/متشابهات سورتى البقرة و آل عمران.pdf') }}" target="_blank">متشابهات سورتى البقرة و آل عمران</a></li>
                <li><a href="{{ url_for('static', filename='Files/متشابهات-القرآن-الكريم-كاملا.pdf') }}" target="_blank">متشابهات القرآن الكريم كاملًا</a></li>
                <li><a href="{{ url_for('static', filename='Files/التبيان في ضبط متشابهات القرآن ².pdf') }}" target="_blank">التبيان فى ضبط متشابهات القرآن</a></li>
            </ul>
        </section>
        <hr>
        <section>
            <h3>🌿 قسم التجويد</h3>
            <p>
                يضم هذا القسم مذكرات وملفات مبسطة في أحكام التجويد ومخارج الحروف وصفات الحروف.
            </p>
            <ul>
                <li><a href="Files/المنهج المفيد م2 (1).pdf" target="_blank">المنهج المفيد</a></li>
                <li><a href="Files/بطاقات_التجويدpdf_·_إصدار_١_260102_132330.pdf" target="_blank">بطاقات تجويد</a></li>
                <li><a href="Files/ضبط منظومة تحفة الأطفال .pdf" target="_blank">تحفة الأطفال</a></li>
            </ul>
        </section>
        <hr>
        <section>
            <h3>📚 قسم الكتب الإسلامية</h3>
            <p>
                مجموعة مختارة من الكتب الإسلامية النافعة التي تعين على تعلم القرآن الكريم وتدبره.
            </p>
            <ul>
                <li>
               <h4>رياض الصالحين</h4>

            <p>
            كتاب للإمام النووي يجمع أحاديث صحيحة في الأخلاق والعبادات والآداب الإسلامية.
            </p>
            <p>
            <a href="Files/رياض_الصالحين_للنووي.pdf" target="_blank">📄 تحميل الكتاب </a>
            </p></li>
                <li>
                    <h4>رسائل من النبي ﷺ</h4>
            <p>
            كتاب للأستاذ أدهم شرقاوي يعرض مواقف وأحاديث نبوية بأسلوب سهل ومؤثر.
            </p>
            <p>
            <a href="Files/كتاب_رسائل_من_النبي_PDF_أدهم_شرقاوي(1).pdf" target="_blank">
            📄 تحميل الكتاب
            </a>
            </p></li>
            </ul>
        </section>
        <hr>
        <section>
            <h3>🔗 مواقع إسلامية مفيدة</h3>

        <p>
        يمكنكم الاستفادة من موقع
        <a href="https://tafsir.app/" target="_blank"> الباحث القرآنى  </a>
        للاطلاع على تفسير الآيات من عدد كبير من كتب التفسير الموثوقة.
        </p>
        </section>
        <hr>
        <section>
        <p>
            نسأل الله تعالى أن ينفع بهذه الكتب والملفات، وأن يجعلها عونًا لكل من يسعى إلى تعلم كتاب الله والعمل به.
        </p>
        </section>
    </main>
    <hr>
    <footer>
    <p>
        رقم هاتف الشيخ : 01000276014
    </p>
    <p>
   <a href="https://www.facebook.com/telwanibarhim" target="_blank">صفحة الفيسبوك</a>
   </p>
   <p>
   <a href=https://www.youtube.com/@daraltalwanibibarhim" target="_blank">قناة اليوتيوب</a>
   </p>
   <p>
   العنوان : برهيم-منوف-محافظة المنوفية
   </p>
   <p>
  &copy; جميع حقوق النشر محفوظة لدار التلوانى لتحفيظ القرآن الكريم
   </p>
</footer>
</body>
</html>